<!DOCTYPE html>
<html lang="en" charset="utf-8" data-theme="{{ .Site.Params.Colour }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="{{ relURL "build.js" }}"></script>
  {{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
  {{with resources.Get "sass/main.scss" | toCSS $opts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  <title>{{ if .Title }} {{ .Title }} ::{{ end }} {{ .Site.Title }}</title>
</head>
<body>
  {{ partial "nav.html" . }}
  <div id="app">
    {{ block "main" . }}
	  {{ end }}
  </div>
  <footer>
    <p>
       {{ if templates.Exists "partials/footer.html" }}{{ partial "footer.html" }}{{ end }}<a href="{{ ref . "/attributions/index.md" }}">Attributions (for themes, fonts, etc.)</a>
    </p>
  </footer>
</body>
</html>