<ul>
  {{ range (where .Site.Pages "Section" (.Get 0)) }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> {{if .Date}}(<i>{{ .Date | time.Format "January 1 2006" }}</i>){{ end }}</li>
  {{ end }}
</ul>